@font-face {
	font-family: 'RobotoBold';
	src: local('RobotoBold'), url(../assets/Roboto-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'RobotoBlack';
	src: local('RobotoBlack'), url(../assets/Roboto-Black.ttf) format('truetype');
}

.finalReport {
	position: relative;
	.report-img {
		margin: 10px 0;
		border: solid black 1px;
		width: 700px;
		z-index: -1;
	}
	.car-photo {
		position: absolute;
		width: 186px;
		top: 27px;
		left: 495px;
	}

	p {
		position: absolute;
		font-size: 0.7rem;
	}
	span {
		position: absolute;
		font-size: 0.8rem;
		justify-content: center;
		align-items: center;
		display: flex;
		width: 13px;
		height: 13px;
		border: 0.5px black solid;
		border-radius: 2.5px;
	}
	.date {
		width: auto;
		color: white;
		.start-date {
			top: 61px;
			left: 235px;
			font-family: 'RobotoBold';
			font-size: 0.75rem;
		}
		.end-date {
			top: 61px;
			left: 343px;
			font-family: 'RobotoBlack';
			font-size: 0.75rem;
		}
	}
	.header-info {
		.plate {
			top: 138px;
			left: 68px;
		}
		.brand {
			top: 138px;
			left: 172px;
		}
		.model {
			top: 138px;
			left: 318px;
		}
		.mileage {
			top: 138px;
			left: 433px;
		}
	}
	.alineation {
		.front-al {
			top: 226px;
			left: 322px;
		}
		.front-al-eval {
			top: 226px;
			left: 360px;
		}
		.rear-al {
			top: 649px;
			left: 322px;
		}
		.rear-al-eval {
			top: 649px;
			left: 355px;
		}
	}
	.weight {
		.front-left {
			top: 285px;
			left: 185px;
		}
		.front-right {
			top: 285px;
			left: 379px;
		}
		.rear-left {
			top: 436px;
			left: 185px;
		}
		.rear-right {
			top: 436px;
			left: 379px;
		}
	}
	.suspention {
		.front-left {
			top: 305px;
			left: 185px;
		}
		.front-right {
			top: 305px;
			left: 379px;
		}
		.rear-left {
			top: 458px;
			left: 185px;
		}
		.rear-right {
			top: 458px;
			left: 379px;
		}
		.front-left-eval {
			top: 305px;
			left: 168px;
		}
		.front-right-eval {
			top: 305px;
			left: 410px;
		}
		.rear-left-eval {
			top: 458px;
			left: 168px;
		}
		.rear-right-eval {
			top: 458px;
			left: 410px;
		}
	}
	.brake {
		.performance {
			.front {
				top: 337px;
				left: 185px;
			}
			.rear {
				top: 488px;
				left: 185px;
			}
			.hand {
				top: 585px;
				left: 185px;
			}
			.front-eval {
				top: 337px;
				left: 168px;
			}
			.rear-eval {
				top: 488px;
				left: 168px;
			}
			.hand-eval {
				top: 585px;
				left: 168px;
			}
		}
		.difference {
			.front {
				top: 353px;
				left: 185px;
			}
			.rear {
				top: 504px;
				left: 185px;
			}
			.hand {
				top: 601px;
				left: 185px;
			}
			.front-eval {
				top: 353px;
				left: 168px;
			}
			.rear-eval {
				top: 504px;
				left: 168px;
			}
			.hand-eval {
				top: 601px;
				left: 168px;
			}
		}
		.strength {
			.front-left {
				top: 368px;
				left: 185px;
			}
			.front-right {
				top: 368px;
				left: 379px;
			}
			.rear-left {
				top: 520px;
				left: 185px;
			}
			.rear-right {
				top: 520px;
				left: 379px;
			}
			.front-left-eval {
				top: 368px;
				left: 168px;
			}
			.front-right-eval {
				top: 368px;
				left: 410px;
			}
			.rear-left-eval {
				top: 520px;
				left: 168px;
			}
			.rear-right-eval {
				top: 520px;
				left: 410px;
			}
			.hand-left {
				top: 620px;
				left: 185px;
			}
			.hand-right {
				top: 620px;
				left: 379px;
			}
			.hand-left-eval {
				top: 620px;
				left: 168px;
			}
			.hand-right-eval {
				top: 620px;
				left: 410px;
			}
		}
		.resistance-rod {
			.front-left {
				top: 386px;
				left: 185px;
			}
			.front-right {
				top: 386px;
				left: 379px;
			}
			.rear-left {
				top: 537px;
				left: 185px;
			}
			.rear-right {
				top: 537px;
				left: 379px;
			}
			.front-left-eval {
				top: 386px;
				left: 168px;
			}
			.front-right-eval {
				top: 386px;
				left: 410px;
			}
			.rear-left-eval {
				top: 537px;
				left: 168px;
			}
			.rear-right-eval {
				top: 537px;
				left: 410px;
			}
		}
		.ovality {
			.front-left {
				top: 402px;
				left: 185px;
			}
			.front-right {
				top: 402px;
				left: 379px;
			}
			.rear-left {
				top: 553px;
				left: 185px;
			}
			.rear-right {
				top: 553px;
				left: 379px;
			}
			.front-left-eval {
				top: 402px;
				left: 168px;
			}
			.front-right-eval {
				top: 402px;
				left: 410px;
			}
			.rear-left-eval {
				top: 553px;
				left: 168px;
			}
			.rear-right-eval {
				top: 553px;
				left: 410px;
			}
		}
	}
	.lux-meter {
		.intensity {
			.left-low {
				top: 302px;
				left: 547px;
			}
			.right-low {
				top: 302px;
				left: 608px;
			}
			.left-high {
				top: 320px;
				left: 547px;
			}
			.right-high {
				top: 320px;
				left: 608px;
			}
			.left-aux {
				top: 340px;
				left: 547px;
			}
			.right-aux {
				top: 340px;
				left: 608px;
			}
			.left-low-eval {
				top: 302px;
				left: 575px;
			}
			.right-low-eval {
				top: 302px;
				left: 640px;
			}
			.left-high-eval {
				top: 320px;
				left: 575px;
			}
			.right-high-eval {
				top: 320px;
				left: 640px;
			}
			.left-aux-eval {
				top: 340px;
				left: 575px;
			}
			.right-aux-eval {
				top: 340px;
				left: 640px;
			}
		}
		.alineationLux {
			.left-vert {
				top: 393px;
				left: 547px;
			}
			.right-vert {
				top: 393px;
				left: 608px;
			}
			.left-hor {
				top: 413px;
				left: 547px;
			}
			.right-hor {
				top: 413px;
				left: 608px;
			}
			.left-vert-eval {
				top: 393px;
				left: 575px;
			}
			.right-vert-eval {
				top: 393px;
				left: 640px;
			}
			.left-hor-eval {
				top: 413px;
				left: 575px;
			}
			.right-hor-eval {
				top: 413px;
				left: 640px;
			}
		}
	}
	.decibel-meter {
		.sound-int {
			top: 472px;
			left: 578px;
		}
		.sound-int-eval {
			top: 472px;
			left: 607px;
		}
	}
	.gases {
		.CO {
			top: 534px;
			left: 578px;
		}
		.CO-eval {
			top: 534px;
			left: 607px;
		}
		.HCC {
			top: 554px;
			left: 578px;
		}
		.HCC-eval {
			top: 554px;
			left: 607px;
		}
		.Nox {
			top: 573px;
			left: 578px;
		}
		.Nox-eval {
			top: 573px;
			left: 607px;
		}
	}
	.opacimeter {
		.opacity {
			top: 620px;
			left: 578px;
		}
		.opacity-eval {
			top: 620px;
			left: 607px;
		}
	}

	.severe {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-weight: 600;
	}
	.moderate {
		background-color: rgba(255, 100, 0, 0.5);
	}
	.minor {
		background-color: rgba(255, 240, 0, 0.5);
	}
	.result-rto {
		top: 240px;
		left: 20px;
		border-radius: 3px;
		padding: 3px;
		font-size: 0.8rem;
		font-weight: bold;
	}
}

.insert-btn-cont {
	display: flex;
	width: 700px;
	align-items: center;
	margin-top: 0.5rem;
}

.print-btn {
	width: 100px;
	padding: 5px;
	cursor: pointer;
}

.reset-btn {
	position: absolute;
	left: 450px;
	top: 10px;
	background-color: rgb(255, 70, 70);
	color: white;
	font-weight: 500;
}

.reset-img {
	width: 50px;
	padding: 5px;
	cursor: pointer;
}

#reset-btn {
	width: 180px;
	height: 100px;
	font-size: large;
}

/* .insert-btn-cont{
	border: solid 1px black;
} */

.wrap-label {
	display: flex;
	align-items: center;
	width: 150px;
	margin: 0 2rem;
	padding: 0.25rem;
	border: solid 1px black;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.wrap-label:active {
	box-shadow: none;
	transform: translateY(4px);
}

.btn-input {
	display: none;
}

.upload-btn-img {
	width: 50px;
}

.radio-checked {
	cursor: pointer;
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	background-color: rgb(204, 255, 204);
}

.references {
	width: 660px;
	position: absolute;
	left: 15px;
	top: 925px;
	padding: 1px;
	font-size: 0.6rem;
}
.def-name {
	text-align: center;
	width: 40px;
}
.def-col {
	padding-left: 2px;
	background-color: white;
}
