@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"), url(../assets/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoBlack";
  src: local("RobotoBlack"), url(../assets/Roboto-Black.ttf) format("truetype");
}
.finalReport {
  position: relative;
}
.finalReport .report-img {
  margin: 10px 0;
  border: solid black 1px;
  width: 700px;
  z-index: -1;
}
.finalReport .car-photo {
  position: absolute;
  width: 188px;
  top: 43px;
  left: 495px;
}
.finalReport p {
  position: absolute;
  font-size: 0.7rem;
}
.finalReport span {
  position: absolute;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 13px;
  height: 13px;
  border: 0.5px black solid;
  border-radius: 2.5px;
}
.finalReport .date {
  width: auto;
  color: white;
}
.finalReport .date .start-date {
  top: 61px;
  left: 235px;
  font-family: "RobotoBold";
  font-size: 0.75rem;
}
.finalReport .date .end-date {
  top: 61px;
  left: 343px;
  font-family: "RobotoBlack";
  font-size: 0.75rem;
}
.finalReport .header-info .plate {
  top: 138px;
  left: 68px;
}
.finalReport .header-info .brand {
  top: 138px;
  left: 172px;
}
.finalReport .header-info .model {
  top: 138px;
  left: 318px;
}
.finalReport .header-info .mileage {
  top: 138px;
  left: 433px;
}
.finalReport .alineation .front-al {
  top: 226px;
  left: 322px;
}
.finalReport .alineation .front-al-eval {
  top: 226px;
  left: 360px;
}
.finalReport .alineation .rear-al {
  top: 649px;
  left: 322px;
}
.finalReport .alineation .rear-al-eval {
  top: 649px;
  left: 355px;
}
.finalReport .weight .front-left {
  top: 285px;
  left: 185px;
}
.finalReport .weight .front-right {
  top: 285px;
  left: 379px;
}
.finalReport .weight .rear-left {
  top: 436px;
  left: 185px;
}
.finalReport .weight .rear-right {
  top: 436px;
  left: 379px;
}
.finalReport .suspention .front-left {
  top: 305px;
  left: 185px;
}
.finalReport .suspention .front-right {
  top: 305px;
  left: 379px;
}
.finalReport .suspention .rear-left {
  top: 458px;
  left: 185px;
}
.finalReport .suspention .rear-right {
  top: 458px;
  left: 379px;
}
.finalReport .suspention .front-left-eval {
  top: 305px;
  left: 168px;
}
.finalReport .suspention .front-right-eval {
  top: 305px;
  left: 410px;
}
.finalReport .suspention .rear-left-eval {
  top: 458px;
  left: 168px;
}
.finalReport .suspention .rear-right-eval {
  top: 458px;
  left: 410px;
}
.finalReport .brake .performance .front {
  top: 337px;
  left: 185px;
}
.finalReport .brake .performance .rear {
  top: 488px;
  left: 185px;
}
.finalReport .brake .performance .hand {
  top: 585px;
  left: 185px;
}
.finalReport .brake .performance .front-eval {
  top: 337px;
  left: 168px;
}
.finalReport .brake .performance .rear-eval {
  top: 488px;
  left: 168px;
}
.finalReport .brake .performance .hand-eval {
  top: 585px;
  left: 168px;
}
.finalReport .brake .difference .front {
  top: 353px;
  left: 185px;
}
.finalReport .brake .difference .rear {
  top: 504px;
  left: 185px;
}
.finalReport .brake .difference .hand {
  top: 601px;
  left: 185px;
}
.finalReport .brake .difference .front-eval {
  top: 353px;
  left: 168px;
}
.finalReport .brake .difference .rear-eval {
  top: 504px;
  left: 168px;
}
.finalReport .brake .difference .hand-eval {
  top: 601px;
  left: 168px;
}
.finalReport .brake .strength .front-left {
  top: 368px;
  left: 185px;
}
.finalReport .brake .strength .front-right {
  top: 368px;
  left: 379px;
}
.finalReport .brake .strength .rear-left {
  top: 520px;
  left: 185px;
}
.finalReport .brake .strength .rear-right {
  top: 520px;
  left: 379px;
}
.finalReport .brake .strength .front-left-eval {
  top: 368px;
  left: 168px;
}
.finalReport .brake .strength .front-right-eval {
  top: 368px;
  left: 410px;
}
.finalReport .brake .strength .rear-left-eval {
  top: 520px;
  left: 168px;
}
.finalReport .brake .strength .rear-right-eval {
  top: 520px;
  left: 410px;
}
.finalReport .brake .strength .hand-left {
  top: 620px;
  left: 185px;
}
.finalReport .brake .strength .hand-right {
  top: 620px;
  left: 379px;
}
.finalReport .brake .strength .hand-left-eval {
  top: 620px;
  left: 168px;
}
.finalReport .brake .strength .hand-right-eval {
  top: 620px;
  left: 410px;
}
.finalReport .brake .resistance-rod .front-left {
  top: 386px;
  left: 185px;
}
.finalReport .brake .resistance-rod .front-right {
  top: 386px;
  left: 379px;
}
.finalReport .brake .resistance-rod .rear-left {
  top: 537px;
  left: 185px;
}
.finalReport .brake .resistance-rod .rear-right {
  top: 537px;
  left: 379px;
}
.finalReport .brake .resistance-rod .front-left-eval {
  top: 386px;
  left: 168px;
}
.finalReport .brake .resistance-rod .front-right-eval {
  top: 386px;
  left: 410px;
}
.finalReport .brake .resistance-rod .rear-left-eval {
  top: 537px;
  left: 168px;
}
.finalReport .brake .resistance-rod .rear-right-eval {
  top: 537px;
  left: 410px;
}
.finalReport .brake .ovality .front-left {
  top: 402px;
  left: 185px;
}
.finalReport .brake .ovality .front-right {
  top: 402px;
  left: 379px;
}
.finalReport .brake .ovality .rear-left {
  top: 553px;
  left: 185px;
}
.finalReport .brake .ovality .rear-right {
  top: 553px;
  left: 379px;
}
.finalReport .brake .ovality .front-left-eval {
  top: 402px;
  left: 168px;
}
.finalReport .brake .ovality .front-right-eval {
  top: 402px;
  left: 410px;
}
.finalReport .brake .ovality .rear-left-eval {
  top: 553px;
  left: 168px;
}
.finalReport .brake .ovality .rear-right-eval {
  top: 553px;
  left: 410px;
}
.finalReport .lux-meter .intensity .left-low {
  top: 302px;
  left: 547px;
}
.finalReport .lux-meter .intensity .right-low {
  top: 302px;
  left: 608px;
}
.finalReport .lux-meter .intensity .left-high {
  top: 320px;
  left: 547px;
}
.finalReport .lux-meter .intensity .right-high {
  top: 320px;
  left: 608px;
}
.finalReport .lux-meter .intensity .left-aux {
  top: 340px;
  left: 547px;
}
.finalReport .lux-meter .intensity .right-aux {
  top: 340px;
  left: 608px;
}
.finalReport .lux-meter .intensity .left-low-eval {
  top: 302px;
  left: 575px;
}
.finalReport .lux-meter .intensity .right-low-eval {
  top: 302px;
  left: 640px;
}
.finalReport .lux-meter .intensity .left-high-eval {
  top: 320px;
  left: 575px;
}
.finalReport .lux-meter .intensity .right-high-eval {
  top: 320px;
  left: 640px;
}
.finalReport .lux-meter .intensity .left-aux-eval {
  top: 340px;
  left: 575px;
}
.finalReport .lux-meter .intensity .right-aux-eval {
  top: 340px;
  left: 640px;
}
.finalReport .lux-meter .alineationLux .left-vert {
  top: 393px;
  left: 547px;
}
.finalReport .lux-meter .alineationLux .right-vert {
  top: 393px;
  left: 608px;
}
.finalReport .lux-meter .alineationLux .left-hor {
  top: 413px;
  left: 547px;
}
.finalReport .lux-meter .alineationLux .right-hor {
  top: 413px;
  left: 608px;
}
.finalReport .lux-meter .alineationLux .left-vert-eval {
  top: 393px;
  left: 575px;
}
.finalReport .lux-meter .alineationLux .right-vert-eval {
  top: 393px;
  left: 640px;
}
.finalReport .lux-meter .alineationLux .left-hor-eval {
  top: 413px;
  left: 575px;
}
.finalReport .lux-meter .alineationLux .right-hor-eval {
  top: 413px;
  left: 640px;
}
.finalReport .decibel-meter .sound-int {
  top: 472px;
  left: 578px;
}
.finalReport .decibel-meter .sound-int-eval {
  top: 472px;
  left: 607px;
}
.finalReport .gases .CO {
  top: 534px;
  left: 578px;
}
.finalReport .gases .CO-eval {
  top: 534px;
  left: 607px;
}
.finalReport .gases .HCC {
  top: 554px;
  left: 578px;
}
.finalReport .gases .HCC-eval {
  top: 554px;
  left: 607px;
}
.finalReport .gases .Nox {
  top: 573px;
  left: 578px;
}
.finalReport .gases .Nox-eval {
  top: 573px;
  left: 607px;
}
.finalReport .opacimeter .opacity {
  top: 620px;
  left: 578px;
}
.finalReport .opacimeter .opacity-eval {
  top: 620px;
  left: 607px;
}
.finalReport .severe {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 600;
}
.finalReport .moderate {
  background-color: rgba(255, 100, 0, 0.5);
}
.finalReport .minor {
  background-color: rgba(255, 240, 0, 0.5);
}
.finalReport .result-rto {
  top: 240px;
  left: 20px;
  border-radius: 3px;
  padding: 3px;
  font-size: 0.8rem;
  font-weight: bold;
}

.insert-btn-cont {
  display: flex;
  width: 700px;
  align-items: center;
  margin-top: 0.5rem;
}

.print-btn {
  width: 100px;
  padding: 5px;
  cursor: pointer;
}

.reset-btn {
  position: absolute;
  left: 450px;
  top: 10px;
  background-color: rgb(255, 70, 70);
  color: white;
  font-weight: 500;
}

.reset-img {
  width: 50px;
  padding: 5px;
  cursor: pointer;
}

#reset-btn {
  width: 180px;
  height: 100px;
  font-size: large;
}

/* .insert-btn-cont{
	border: solid 1px black;
} */
.wrap-label {
  display: flex;
  align-items: center;
  width: 150px;
  margin: 0 2rem;
  padding: 0.25rem;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.wrap-label:active {
  box-shadow: none;
  transform: translateY(4px);
}

.btn-input {
  display: none;
}

.upload-btn-img {
  width: 50px;
}

.radio-checked {
  cursor: pointer;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: rgb(204, 255, 204);
}

.references {
  width: 660px;
  position: absolute;
  left: 15px;
  top: 925px;
  padding: 1px;
  font-size: 0.6rem;
}

.def-name {
  text-align: center;
  width: 40px;
}

.def-col {
  padding-left: 2px;
  background-color: white;
}

.copyDesc-btn {
  position: absolute;
  left: 515px;
  top: 1010px;
  background-color: rgb(0, 170, 190);
  color: white;
  font-weight: 500;
}/*# sourceMappingURL=informeStyle.css.map */