.finalReport {
	position: relative;
	.report-img {
		margin: 10px 0;
		border: solid black 1px;

		width: 600px;
		z-index: -1;
	}

	p {
		position: absolute;
		font-size: 0.6rem;
	}
	span {
		position: absolute;
		font-size: 0.6rem;
		justify-content: center;
		align-items: center;
		display: flex;
		width: 12px;
		height: 12px;
		border: 0.5px black solid;
		border-radius: 2.5px;
	}
	.date {
		width: auto;
		color: white;
		.start-date {
			top: 53px;
			left: 200px;
		}
		.end-date {
			top: 53px;
			left: 293px;
		}
	}
	.header-info {
		.plate {
			top: 120px;
			left: 60px;
		}
		.brand {
			top: 120px;
			left: 150px;
		}
		.model {
			top: 120px;
			left: 275px;
		}
		.mileage {
			top: 120px;
			left: 373px;
		}
	}
	.alineation {
		.front-al {
			top: 195px;
			left: 282px;
		}
		.front-al-eval {
			top: 195px;
			left: 310px;
		}
		.rear-al {
			top: 557px;
			left: 282px;
		}
		.rear-al-eval {
			top: 557px;
			left: 305px;
		}
	}
	.weight {
		.front-left {
			top: 245px;
			left: 158px;
		}
		.front-right {
			top: 245px;
			left: 326px;
		}
		.rear-left {
			top: 376px;
			left: 158px;
		}
		.rear-right {
			top: 376px;
			left: 326px;
		}
	}
	.suspention {
		.front-left {
			top: 263px;
			left: 158px;
		}
		.front-right {
			top: 263px;
			left: 326px;
		}
		.rear-left {
			top: 395px;
			left: 158px;
		}
		.rear-right {
			top: 395px;
			left: 326px;
		}
		.front-left-eval {
			top: 263px;
			left: 141px;
		}
		.front-right-eval {
			top: 263px;
			left: 359px;
		}
		.rear-left-eval {
			top: 395px;
			left: 141px;
		}
		.rear-right-eval {
			top: 395px;
			left: 359px;
		}
	}
	.brake {
		.performance {
			.front {
				top: 290px;
				left: 158px;
			}
			.rear {
				top: 420px;
				left: 158px;
			}
			.hand {
				top: 502px;
				left: 158px;
			}
			.front-eval {
				top: 290px;
				left: 141px;
			}
			.rear-eval {
				top: 421px;
				left: 141px;
			}
			.hand-eval {
				top: 502px;
				left: 141px;
			}
		}
		.difference {
			.front {
				top: 304px;
				left: 158px;
			}
			.rear {
				top: 434px;
				left: 158px;
			}
			.hand {
				top: 517px;
				left: 158px;
			}
			.front-eval {
				top: 304px;
				left: 141px;
			}
			.rear-eval {
				top: 434px;
				left: 141px;
			}
			.hand-eval {
				top: 517px;
				left: 141px;
			}
		}
		.strength {
			.front-left {
				top: 318px;
				left: 158px;
			}
			.front-right {
				top: 318px;
				left: 326px;
			}
			.rear-left {
				top: 448px;
				left: 158px;
			}
			.rear-right {
				top: 448px;
				left: 326px;
			}
			.front-left-eval {
				top: 318px;
				left: 141px;
			}
			.front-right-eval {
				top: 318px;
				left: 359px;
			}
			.rear-left-eval {
				top: 448px;
				left: 141px;
			}
			.rear-right-eval {
				top: 448px;
				left: 359px;
			}
			.hand-left {
				top: 533px;
				left: 158px;
			}
			.hand-right {
				top: 533px;
				left: 326px;
			}
			.hand-left-eval {
				top: 533px;
				left: 141px;
			}
			.hand-right-eval {
				top: 533px;
				left: 359px;
			}
		}
		.resistance-rod {
			.front-left {
				top: 332px;
				left: 158px;
			}
			.front-right {
				top: 332px;
				left: 326px;
			}
			.rear-left {
				top: 462px;
				left: 158px;
			}
			.rear-right {
				top: 462px;
				left: 326px;
			}
			.front-left-eval {
				top: 332px;
				left: 141px;
			}
			.front-right-eval {
				top: 332px;
				left: 359px;
			}
			.rear-left-eval {
				top: 462px;
				left: 141px;
			}
			.rear-right-eval {
				top: 462px;
				left: 359px;
			}
		}
		.ovality {
			.front-left {
				top: 347px;
				left: 158px;
			}
			.front-right {
				top: 347px;
				left: 326px;
			}
			.rear-left {
				top: 476px;
				left: 158px;
			}
			.rear-right {
				top: 476px;
				left: 326px;
			}
			.front-left-eval {
				top: 347px;
				left: 141px;
			}
			.front-right-eval {
				top: 347px;
				left: 359px;
			}
			.rear-left-eval {
				top: 476px;
				left: 141px;
			}
			.rear-right-eval {
				top: 476px;
				left: 359px;
			}
		}
	}
	.lux-meter {
		.intensity {
			.left-low {
				top: 260px;
				left: 470px;
			}
			.right-low {
				top: 260px;
				left: 523px;
			}
			.left-high {
				top: 276px;
				left: 470px;
			}
			.right-high {
				top: 276px;
				left: 523px;
			}
			.left-aux {
				top: 293px;
				left: 470px;
			}
			.right-aux {
				top: 293px;
				left: 523px;
			}
			.left-low-eval {
				top: 260px;
				left: 499px;
			}
			.right-low-eval {
				top: 260px;
				left: 551px;
			}
			.left-high-eval {
				top: 276px;
				left: 499px;
			}
			.right-high-eval {
				top: 276px;
				left: 551px;
			}
			.left-aux-eval {
				top: 293px;
				left: 499px;
			}
			.right-aux-eval {
				top: 293px;
				left: 551px;
			}
		}
		.alineationLux {
			.left-vert {
				top: 340px;
				left: 470px;
			}
			.right-vert {
				top: 340px;
				left: 523px;
			}
			.left-hor {
				top: 356px;
				left: 470px;
			}
			.right-hor {
				top: 356px;
				left: 523px;
			}
			.left-vert-eval {
				top: 340px;
				left: 499px;
			}
			.right-vert-eval {
				top: 340px;
				left: 551px;
			}
			.left-hor-eval {
				top: 356px;
				left: 499px;
			}
			.right-hor-eval {
				top: 356px;
				left: 551px;
			}
		}
	}
	.decibel-meter {
		.sound-int {
			top: 407px;
			left: 497px;
		}
		.sound-int-eval {
			top: 407px;
			left: 527px;
		}
	}
	.gases {
		.CO {
			top: 459px;
			left: 497px;
		}
		.CO-eval {
			top: 459px;
			left: 527px;
		}
		.HCC {
			top: 475px;
			left: 497px;
		}
		.HCC-eval {
			top: 475px;
			left: 527px;
		}
		.Nox {
			top: 492px;
			left: 497px;
		}
		.Nox-eval {
			top: 492px;
			left: 527px;
		}
	}
	.opacimeter {
		.opacity {
			top: 532px;
			left: 497px;
		}
		.opacity-eval {
			top: 532px;
			left: 527px;
		}
	}

	.severe {
		background-color: rgba(0, 0, 0, 0.3);
	}
	.moderate {
		background-color: rgba(255, 100, 0, 0.5);
	}
	.minor {
		background-color: rgba(255, 240, 0, 0.5);
	}
}
