* {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-radio {
	display: flex;
	flex-flow: column nowrap;
}

.tipe-class {
	flex-direction: row;
	margin: 1rem;
}
.severity-class {
	flex-direction: row;
	margin: 1rem;
}

.group-class {
	flex-direction: row;
	margin: 1rem;
}

.section-class {
	flex-direction: row;
	margin: 1rem;
}

.description-class {
	flex-direction: row;
	margin: 1rem;
}
