@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), url(../assets/Roboto-Regular.ttf) format('truetype');
}

* {
	font-family: 'Roboto', 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.variable-btn {
	display: flex;
	flex-flow: row nowrap;
}
.form-radio {
	display: flex;
	flex-flow: column nowrap;
}

.btn-package {
	margin: 0.7rem;
}

.col-class {
	display: flex;
	flex-flow: column wrap;
}

.group-c {
	width: 20%;
}

.section-c {
	width: 25%;
}

.description-c {
	width: 45%;
}

.btn-inside {
	margin: 0.1rem;
}

.rad-c {
	//cambia el tamaño de los radio
	border: 0px;
	width: 1em;
	height: 1em;
}
.div-btn {
	display: flex;
	justify-content: center;
	.send-btn {
		width: 200px;
		height: 50px;
	}
}
