@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), url(../assets/Roboto-Regular.ttf) format('truetype');
}

* {
	font-family: 'Roboto', 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
main {
	margin: 10px;
}

.variable-btn {
	display: flex;
	flex-flow: row nowrap;
}
.form-radio {
	display: flex;
	flex-flow: column nowrap;
	min-height: 480px;
}

.btn-package {
	margin: 0.7rem;
}

.col-class {
	display: flex;
	flex-flow: column wrap;
}

.group-c {
	min-width: 165px;
}

.section-c {
	min-width: 205px;
}

.description-c {
}

.btn-inside {
	margin: 0.1rem;
}

.rad-c {
	//cambia el tamaño de los radio
	border: 0px;
	width: 1em;
	height: 1em;
}
.div-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	.send-btn {
		width: 200px;
		height: 50px;
	}
}

table,
th,
td {
	border: 2px solid black;
	border-collapse: collapse;
}

.grupo-col {
	width: 145px;
	text-align: center;
}
.severidad-col {
	width: 80px;
	text-align: center;
}
.quitar-col {
	width: 60px;
}
.erase-btn-ctn {
	text-align: center;
	background-color: white;
	.erase-btn {
		width: 12px;
		height: 12px;
		background-color: rgba(255, 255, 255, 0);
		border: none;
	}
}

.lista-final {
	min-width: 840px;
}

.orange {
	background-color: rgba(255, 110, 0, 0.3);
}

.yellow {
	background-color: rgba(255, 240, 0, 0.3);
}

.black {
	background-color: rgba(0, 0, 0, 0.15);
}
