@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), url(../assets/Roboto-Regular.ttf) format("truetype");
}

@media print {
  header,
  form,
  label,
  h2,
  h3,
  button,
  input,
  textarea,
  .quitar-col {
    display: none;
  }
  #no-print {
    display: none;
  }
  #no-print2 {
    display: none;
  }
  #no-print3 {
    display: none;
  }
  .print {
    visibility: visible;
  }
}

* {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  margin: 10px;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0 0.5rem 1rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

label {
  cursor: pointer;
  margin: 0.5px 0;
}

.variable-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 280px;
}

.form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.form-radio-ext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.btn-package {
  margin: 0.5rem;
}

.col-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.group-c {
  width: 200px;
}

.section-c {
  width: 190px;
}

.btn-inside {
  margin: 0 0.25rem;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 2px;
}

.rad-c {
  border: 0px;
  width: 1em;
  height: 1em;
  margin-right: 2px;
  cursor: pointer;
}

.unlisted-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.unlisted-ctn .send-btn {
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.unlisted-ctn .unlisted-defect {
  margin: 0.2rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  max-height: 16px;
}

.lista-final {
  position: absolute;
  top: 670px;
  left: 15px;
}

.lista-final .lista-headers {
  font-size: 0.8rem;
}

.lista-final .item-lista {
  font-size: 0.65rem;
  height: 16px;
}

.lista-final .grupo-col {
  width: 125px;
  text-align: center;
}

.lista-final .seccion-col {
  width: 125px;
  text-align: center;
}

.lista-final .descripcion-col {
  padding-left: 3px;
  width: 348px;
}

.lista-final .severidad-col {
  width: 60px;
  text-align: center;
}

.phantom-col {
  width: 30px;
  background-color: transparent;
  border: 1px solid transparent;
}

.quitar-col {
  min-width: 40px;
  border: 1px solid transparent;
}

.erase-btn-ctn {
  text-align: center;
  border: 1px solid transparent;
}

.erase-btn-ctn .erase-btn {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.engine-type {
  color: black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  margin-top: 1rem;
}

.engine-type .btn-inside {
  background-color: #ffff64;
}

.orange {
  background-color: rgba(255, 160, 0, 0.75);
}

.yellow {
  background-color: rgba(255, 240, 0, 0.75);
}

.black {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.Condicional {
  background-color: rgba(255, 160, 0, 0.75);
}

.Rechazado {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.Apto {
  background-color: rgba(81, 209, 246, 0.75);
}
/*# sourceMappingURL=style.css.map */